body {
    background-image: url("../images/register_bgrnd.jpg");
    /* background-color: #f8f9fa; Light gray background for the page */
    font-family: 'Arial', sans-serif;
}

.card {
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #007bff;
    color: white;
    font-size: 24px;
}

.card-body {
    padding: 30px;
}

h2 {
    margin-bottom: 20px;
}

.form-label {
    font-weight: bold;
}

.mb-3 {
    margin-bottom: 1.5rem;
}

.d-flex {
    gap: 10px;
}
